/* GENERALI */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: #F6F5F3;
}
.container {
    width: 70%;
    margin: 0 auto;
    margin-top: 40px;
    /* Debug */
/*     background-color: aqua; */
}
li {
    list-style-type: none;
}
a {
    text-decoration: none;
    color: black;
}
/* HEADER */
#titolo {
  font-family: "Nerko One", cursive;
  font-weight: 400;
  font-style: normal;
  color: #FF9613;
  font-size: 80px;
  margin-left: 15px;
}
.logo {
    text-align: left;
    background-color: white;
    
}
/* MAIN */
.tipo-ricetta {
    color: rgb(19, 20, 18);
}
#h1-titolo {
    color: #4E3969;
    font-size: 55px;
}
.col {
    display: flex;
}
.box-sx {
    width: 70%;
}
.img-video {
    width: 100%;
}
.box-dx {
    font-size: 30px;
    padding-left: 15px;
    padding-top: 15px;
    background-color: white;
}
.box-dx h4, li{
    margin-bottom: 20px;
}
.row-social {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.col-social {
    width: calc ((100% / 5) (40px / 4));
}
.social {
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
    background-color: white;
    border-radius: 30%;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 60px;
    padding-right: 60px;
}
.fa-facebook {
    color: blue;
}
.fa-twitter {
    color: cyan;
}
.fa-pinterest {
    color: red;
}
.fa-instagram {
    color: deeppink;
}
.fa-youtube {
    color: red;
}
/* BANNER PUBBLICITà */
.publicità {
    width: 100%;
    margin-top: 20px;
}
.banner {
    width: 100%;
    margin-top: 20px;
}

/* PREPARAZIONE */ 
.preparazione {
    width: 100%;
    font-size: 26px;
}
#h1-prepareazione {
    font-size: 40px;
    margin-top: 45px;
}
hr {
    margin-top: 15px;
    margin-bottom: 15px;
    width: 70px;
    color: orange;
}
.img-preparazione {
    width: 30%;
    float: left;
    padding-right: 10px;
    padding-bottom: 5px;
}

/* footer  */
.fondo-pagina {  
    margin-top: 30px; 
    background-color: #7C69A4;
    display: flex;
}
.footer-dx , .footer-sx {
    width: 50%;
    padding: 10px;
    color: white;
    font-size: 20px;
}
.footer-dx ul {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}
.footer-sx {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
}
.footer-dx {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: center;
}
