@media screen and (max-width: 640px) {
    /* HEADER */
    .logo {
        text-align: center;
    }
    #titolo {
        font-size: 65px;
    }
    .social {
        background-color: white;
        border-radius: 45%;
        padding: 15px;
    }
    .img-preparazione {
        float: none;
        display: block;
        width: 50%;
        margin: 0 auto;
    }

    /* MAIN */
    .container {
        width: 100%;
    }
    h1 span {
        display: none;
    }
    .col {
        display: flex;
        flex-direction: column;
    }
    .box-sx {
        width: 100%;
    }
    .box-dx {
        width: 100%;

    }
    .box-dx h4, li {
        font-size: 20px;
    }
    .box-dx ul {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .preparazione > section {
        padding-left: 15px;
        padding-right: 15px;
    }

    /* FOOTER */
    .fondo-pagina {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .footer-sx {
        width: 80%;

    }
    .footer-dx {
        width: 80%;
    }

}