@media screen and (max-width: 1020px) {
    .container {
        width: 80%;
        margin: 0 auto;
        margin-top: 30px;
    }
    .social span {
        display: none;
    }
    .col {
        display: flex;
        flex-direction: column;
    }
    .box-sx {
        width: 100%;
    }
    .box-dx {
        width: 100%;
    }
    .box-dx ul {
        font-size: 25px;
        display: flex;
        gap: 50px;
        flex-wrap: wrap;
    }
    .col {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
    }
    .box-sx {
        width: 100%;
    }
    .box-dx {
        width: 100%;
    }
    .fondo-pagina {
        display: flex;
        flex-direction: column;
    }
    .footer-dx , .footer-sx {
        width: 56%;
        margin: 0 auto;
    }
    .footer-sx > strong , span {
        margin: 0 auto;
    }

}