@media screen and (max-width: 1020px) {
    .container {
        width: 85%;
        margin: 0 auto;
    }
    .social span {
        display: none;
    }
    .col {
        display: flex;
        flex-direction: column;
    }
    .box-sx {
        width: 100%;
    }
    .box-dx {
        width: 100%;
    }

}